#sua connection string:
mongodb.connectionString=mongodb+srv://lucianovicente:<db_password>@grupo6.jh1hq.mongodb.net/?retryWrites=true&w=majority&appName=Grupo6

porta.servidor=8006

#Só copie e troque o nome do novo arquivo para 'application.properties'.
#Mantenha o 'application.properties.example' no projeto.